In [ ]:
# print('a')
print('a', 'b')

def my_func(*age):
    print(age)

In [5]:
my_func(1,2,3,4)

(1, 2, 3, 4)

In [6]:
def my_func(*age, **kwargs):
    print(kwargs['test'])
    print(kwargs['myclass'])

In [8]:
my_func(10,9,8, test="good", myclass ='c')

good
c

In [9]:
# unpacking

def my_func(a, b, c, d):
    print(a, b, c, d)
    
my_list = ['nlp', 'image','voice', 'auto']
my_func(my_list)

TypeError: my_func() missing 3 required positional arguments: 'b', 'c', and 'd'

In [10]:
my_func(*my_list) # unpacking..

nlp image voice auto

In [16]:
import numpy as np
import pandas as pd

C:\Users\student\anaconda3\envs\nlp\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

## using sklearn

In [12]:
docs = ['오늘 동물원에서 원숭이를 봤어',
       '오늘 동물원에서 코끼리를 봤어 봤어',
       '동물원에서 원숭이에게 바나나를 줬어 바나나를']

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer # 규제 L2가 기본으로들어가

tfidf_vec = TfidfVectorizer()
tfidf = tfidf_vec.fit_transform(docs)
print(tfidf_vec.get_feature_names()) # 이건 보여줘
tfidf.todense()
# 원숭이를, 봤어, 바나나를 이 높게 나와?

['동물원에서', '바나나를', '봤어', '오늘', '원숭이를', '원숭이에게', '줬어', '코끼리를']

matrix([[0.37311881, 0.        , 0.4804584 , 0.4804584 , 0.63174505,
         0.        , 0.        , 0.        ],
        [0.28680065, 0.        , 0.73861611, 0.36930805, 0.        ,
         0.        , 0.        , 0.48559571],
        [0.2344005 , 0.79374908, 0.        , 0.        , 0.        ,
         0.39687454, 0.39687454, 0.        ]])

In [29]:
# BOW를 만들어서, TfidTransformer하면 됨

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

count_vec = CountVectorizer()
BoW = count_vec.fit_transform(docs)
tfidf_trans = TfidfTransformer()
tfidf = tfidf_trans.fit_transform(BoW)
tfidf.todense()

In [32]:
count_vec.get_feature_names()

['동물원에서', '바나나를', '봤어', '오늘', '원숭이를', '원숭이에게', '줬어', '코끼리를']

In [33]:
import pandas as pd
vocab = count_vec.get_feature_names()
pd.DataFrame(tfidf.todense(), columns = vocab)

,동물원에서,바나나를,봤어,오늘,원숭이를,원숭이에게,줬어,코끼리를
0,0.373119,0.000000,0.480458,0.480458,0.631745,0.000000,0.000000,0.000000
1,0.286801,0.000000,0.738616,0.369308,0.000000,0.000000,0.000000,0.485596
2,0.234400,0.793749,0.000000,0.000000,0.000000,0.396875,0.396875,0.000000