In [1]:
import pandas as pd
import numpy as np

In [5]:
docs = ['오늘 동물원에서 원숭이를 봤어',
        '오늘 동물원에서 코끼리를 봤어 봤어',
        '동물원에서 원숭이에게 바나나를 줬어 바나나를']

In [4]:
total_words = []
for words in docs:
    total_words += words.split()

unique_words = set(total_words)
unique_dict= {}
for i, word in enumerate(unique_words):
    unique_dict[word] = i
    
unique_dict

{'봤어': 0,
 '오늘': 1,
 '동물원에서': 2,
 '바나나를': 3,
 '원숭이에게': 4,
 '원숭이를': 5,
 '코끼리를': 6,
 '줬어': 7}

(3,8) 빈 행렬을 만들어서.. 하나씩 체크하는 방법으로 해보자

In [7]:
# if docs[0].split()[i] in unique_dict.keys():
bag1 = bag[0]
words = docs[0].split()
words
for i in words:
    if i in list(unique_dict.keys()):
        bag1[unique_dict[i]] += 1 
bag1

NameError: name 'bag' is not defined

In [8]:
list_word

NameError: name 'list_word' is not defined

In [25]:
bag = np.zeros( (len(docs), len(unique_dict)))
list_word = []

for words in docs:
    list_word.append(words.split())
print(list_word)
for j in range(len(list_word)): # 하나씩 들어가서
    for k in list_word[j]:     # 첫번째 행에 문자들이
        if k in list(unique_dict.keys()): # 만약 같은게 있다면
            bag[j][unique_dict[k]] += 1 #거기에 더해줘

[['오늘', '동물원에서', '원숭이를', '봤어'], ['오늘', '동물원에서', '코끼리를', '봤어', '봤어'], ['동물원에서', '원숭이에게', '바나나를', '줬어', '바나나를']]

In [26]:
bag

array([[1., 0., 0., 0., 1., 0., 1., 1.],
       [2., 0., 1., 0., 1., 0., 0., 1.],
       [0., 1., 0., 2., 1., 1., 0., 0.]])

In [27]:
unique_dict.keys()

dict_keys(['봤어', '줬어', '코끼리를', '바나나를', '동물원에서', '원숭이에게', '원숭이를', '오늘'])

In [114]:
list_word

[['오늘', '동물원에서', '원숭이를', '봤어'],
 ['오늘', '동물원에서', '코끼리를', '봤어', '봤어'],
 ['동물원에서', '원숭이에게', '바나나를', '줬어', '바나나를']]

# 다른 방식 ( 선생님 )

In [9]:
from collections import defaultdict
doc_ls = [doc.split() for doc in docs]

word2index= defaultdict(lambda : len(word2index))

[word2index[token] for doc in doc_ls for token in doc]

[0, 1, 2, 3, 0, 1, 4, 3, 3, 1, 5, 6, 7, 6]

In [10]:
word2index

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '원숭이를': 2,
             '봤어': 3,
             '코끼리를': 4,
             '원숭이에게': 5,
             '바나나를': 6,
             '줬어': 7})

In [11]:
from collections import defaultdict

doc_ls = [doc.split() for doc in docs]

word2id = defaultdict(lambda : len(word2id))

[word2id[token] for doc in doc_ls for token in doc]

[0, 1, 2, 3, 0, 1, 4, 3, 3, 1, 5, 6, 7, 6]

In [26]:
from IPython.core import display as ICD

In [18]:
sorted_vocab = sorted((value, key) for key, value in word2id.items())
print(sorted_vocab)

[(0, '오늘'), (1, '동물원에서'), (2, '원숭이를'), (3, '봤어'), (4, '코끼리를'), (5, '원숭이에게'), (6, '바나나를'), (7, '줬어')]

In [20]:
vocab = [v[1] for v in sorted_vocab]
vocab

['오늘', '동물원에서', '원숭이를', '봤어', '코끼리를', '원숭이에게', '바나나를', '줬어']

In [21]:
import pandas as pd

In [31]:
doc_ls

[['오늘', '동물원에서', '원숭이를', '봤어'],
 ['오늘', '동물원에서', '코끼리를', '봤어', '봤어'],
 ['동물원에서', '원숭이에게', '바나나를', '줬어', '바나나를']]

In [37]:
import numpy as np

BoW_ls = []

for i, doc in enumerate(doc_ls):
    bow = np.zeros(len(word2id), dtype = int)
    for token in doc:
        bow[word2id[token]] += 1
    BoW_ls.append(bow.tolist())
BoW_ls

[[1, 1, 1, 1, 0, 0, 0, 0], [1, 1, 0, 2, 1, 0, 0, 0], [0, 1, 0, 0, 0, 1, 2, 1]]

In [39]:
for i in range(len(docs)):
    print('문서 : {} : {}'. format(i ,docs[i]))
    ICD.display(pd.DataFrame([BoW_ls[i]], columns = vocab))
    print('\n\n')

문서 : 0 : 오늘 동물원에서 원숭이를 봤어

   오늘  동물원에서  원숭이를  봤어  코끼리를  원숭이에게  바나나를  줬어
0   1      1     1   1     0      0     0   0

문서 : 1 : 오늘 동물원에서 코끼리를 봤어 봤어

   오늘  동물원에서  원숭이를  봤어  코끼리를  원숭이에게  바나나를  줬어
0   1      1     0   2     1      0     0   0

문서 : 2 : 동물원에서 원숭이에게 바나나를 줬어 바나나를

   오늘  동물원에서  원숭이를  봤어  코끼리를  원숭이에게  바나나를  줬어
0   0      1     0   0     0      1     2   1

In [22]:
doc_ls[0]

['오늘', '동물원에서', '원숭이를', '봤어']