## tf-dif 직접 계산하기

In [1]:
docs = ['오늘 동물원에서 원숭이를 봤어',
       '오늘 동물원에서 코끼리를 봤어 봤어',
       '동물원에서 원숭이에게 바나나를 줬어 바나나를']

doc_ls = [doc.split() for doc in docs]

from collections import defaultdict

word2id = defaultdict(lambda : len(word2id))

[word2id[token] for doc in doc_ls for token in doc]

[0, 1, 2, 3, 0, 1, 4, 3, 3, 1, 5, 6, 7, 6]

In [2]:
doc_ls = [doc.split() for doc in docs]

In [3]:
doc_ls

[['오늘', '동물원에서', '원숭이를', '봤어'],
 ['오늘', '동물원에서', '코끼리를', '봤어', '봤어'],
 ['동물원에서', '원숭이에게', '바나나를', '줬어', '바나나를']]

In [4]:
from collections import defaultdict

word2id = defaultdict(lambda : len(word2id))

In [5]:
[word2id[token] for doc in doc_ls for token in doc]

[0, 1, 2, 3, 0, 1, 4, 3, 3, 1, 5, 6, 7, 6]

In [6]:
word2id

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '원숭이를': 2,
             '봤어': 3,
             '코끼리를': 4,
             '원숭이에게': 5,
             '바나나를': 6,
             '줬어': 7})

In [7]:
len(word2id), len(doc_ls)

(8, 3)

In [8]:
import numpy as np
TDM = np.zeros((len(word2id), len(doc_ls)))
TDM

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [9]:
doc_names = ['문서' + str(i) for i in range(len(doc_ls))]
doc_names

['문서0', '문서1', '문서2']

In [10]:
vocab = word2id

In [11]:
for i, doc in enumerate(doc_ls):
    for token in doc:
        TDM[word2id[token], i] += 1
TDM

array([[1., 1., 0.],
       [1., 1., 1.],
       [1., 0., 0.],
       [1., 2., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 2.],
       [0., 0., 1.]])

In [12]:
import pandas as pd

In [13]:
df_TDM = pd.DataFrame(TDM, columns = doc_names)
df_TDM['단어'] = vocab
df_TDM=df_TDM.set_index('단어')

In [14]:
df_TDM

       문서0  문서1  문서2
단어
오늘     1.0  1.0  0.0
동물원에서  1.0  1.0  1.0
원숭이를   1.0  0.0  0.0
봤어     1.0  2.0  0.0
코끼리를   0.0  1.0  0.0
원숭이에게  0.0  0.0  1.0
바나나를   0.0  0.0  2.0
줬어     0.0  0.0  1.0

In [15]:
# TF 계산인데.
df_TDMdf_TDM['문서0'].sum()

NameError: name 'df_TDMdf_TDM' is not defined

In [ ]:
def computeTF(df_TDM):
    tf = []
    col_list = list(df_TDM.columns)
    for col in col_list:
        tf.append(np.array(df_TDM[col] / df_TDM[col].sum()))
    
    return tf
        
# def computeTF(TDM):
#     for i in range(len(vocab)):
#     df_TDM['tf{}'.format(i)]= (df_TDM[col] / df_TDM[col].sum())
    
#     return tf

In [ ]:
computeTF(df_TDM).T

In [16]:
df_TDM

       문서0  문서1  문서2
단어
오늘     1.0  1.0  0.0
동물원에서  1.0  1.0  1.0
원숭이를   1.0  0.0  0.0
봤어     1.0  2.0  0.0
코끼리를   0.0  1.0  0.0
원숭이에게  0.0  0.0  1.0
바나나를   0.0  0.0  2.0
줬어     0.0  0.0  1.0

In [17]:
len(np.array(df_TDM)[0])

3

In [18]:
math.log(-(np.array(df_TDM) / 3))

NameError: name 'math' is not defined

In [19]:
idf = np.zeros_like(TDM)
idf.shape

(8, 3)

In [20]:
import math

In [21]:
def computeIDF(df_TDM):
    TDM = np.array(df_TDM)
    nun = len(TDM[0])
    for i in range(TDM.shape[0]):
        for j in range(TDM.shape[1]):
            if TDM[i][j] >= 1:
                TDM[i][j]= 1
            
            TDM[i][j] = - math.log((TDM[i][j]+ 1)/nun)

    return TDM

In [22]:
computeIDF(df_TDM)

array([[0.40546511, 0.40546511, 1.09861229],
       [0.40546511, 0.40546511, 0.40546511],
       [0.40546511, 1.09861229, 1.09861229],
       [0.40546511, 0.40546511, 1.09861229],
       [1.09861229, 0.40546511, 1.09861229],
       [1.09861229, 1.09861229, 0.40546511],
       [1.09861229, 1.09861229, 0.40546511],
       [1.09861229, 1.09861229, 0.40546511]])

In [23]:
TDM

array([[1., 1., 0.],
       [1., 1., 1.],
       [1., 0., 0.],
       [1., 2., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 2.],
       [0., 0., 1.]])

In [24]:
- math.log(TDM[0][2]/3)
TD

ValueError: math domain error

In [25]:
df_TDM.columns

Index(['문서0', '문서1', '문서2'], dtype='object')

In [26]:
# df_tf['tf{}'.format(i)]=

tf = np.zeros(TDM.shape())

TypeError: 'tuple' object is not callable

In [27]:
TDM.shape

(8, 3)

## 선생님풀이..

In [28]:
docs = ['오늘 동물원에서 원숭이를 봤어',
       '오늘 동물원에서 코끼리를 봤어 봤어',
       '동물원에서 원숭이에게 바나나를 줬어 바나나를']

# 토큰화
doc_ls = [doc.split() for doc in docs]

from collections import defaultdict
# 딕셔너리 만들었고
word2id = defaultdict(lambda : len(word2id))

# 단어하나씩 집어넣기
[word2id[token] for doc in doc_ls for token in doc]

[0, 1, 2, 3, 0, 1, 4, 3, 3, 1, 5, 6, 7, 6]

In [29]:
word2id['봤어']

3

In [30]:
import numpy as np

DTM = np.zeros((len(doc_ls), len(word2id)), dtype = int)     # Document Term  Matrix D - 행 T 열

for i, doc in enumerate(doc_ls):
    for token in doc:
        DTM[i, word2id[token]] += 1

DTM

array([[1, 1, 1, 1, 0, 0, 0, 0],
       [1, 1, 0, 2, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 1, 2, 1]])

### TF 계싼

TF = 문서내 토크빈도 / 문서내 전체토큰개수

In [31]:
def computeTF(DTM):
    doc_len = len(DTM)
    word_len = len(DTM[0])
    
    tf = np.zeros((doc_len, word_len))
    
    for doc_i in range(doc_len):
        for word_i in range(word_len):
            tf[doc_i, word_i] = DTM[doc_i, word_i]/DTM[doc_i].sum()
            
    return tf

In [32]:
computeTF(DTM)

array([[0.25, 0.25, 0.25, 0.25, 0.  , 0.  , 0.  , 0.  ],
       [0.2 , 0.2 , 0.  , 0.4 , 0.2 , 0.  , 0.  , 0.  ],
       [0.  , 0.2 , 0.  , 0.  , 0.  , 0.2 , 0.4 , 0.2 ]])

### IDF 계산 

IDF = log(총문서수 / 토큰이등장한문서수)

In [33]:
import math

def computeIDF(DTM):
    doc_len = len(DTM)
    word_len = len(DTM[0])
    idf = np.zeros(word_len)
    for i in range(word_len):
        idf[i] = -math.log10(np.count_nonzero(DTM[:, i]) / doc_len)# 모든행에 대허서 i번째 열을 가져온다
        
    return idf

In [43]:
computeIDF(DTM)

array([ 0.17609126, -0.        ,  0.47712125,  0.17609126,  0.47712125,
        0.47712125,  0.47712125,  0.47712125])

### TF-IDF 계싼

In [44]:
def computeTFIDF(DTM):
    tf = computeTF(DTM)
    idf = computeIDF(DTM)
    
    tfidf = np.zeros(tf.shape)
    
    for doc_i in range(tf.shape[0]):
        for word_i in range(tf.shape[1]):
            tfidf[doc_i, word_i] = tf[doc_i, word_i] * idf[word_i]
            
    return tfidf

In [45]:
computeTFIDF(DTM)

array([[ 0.04402281, -0.        ,  0.11928031,  0.04402281,  0.        ,
         0.        ,  0.        ,  0.        ],
       [ 0.03521825, -0.        ,  0.        ,  0.0704365 ,  0.09542425,
         0.        ,  0.        ,  0.        ],
       [ 0.        , -0.        ,  0.        ,  0.        ,  0.        ,
         0.09542425,  0.1908485 ,  0.09542425]])

In [49]:
sorted_vocab

[(0, '오늘'),
 (1, '동물원에서'),
 (2, '원숭이를'),
 (3, '봤어'),
 (4, '코끼리를'),
 (5, '원숭이에게'),
 (6, '바나나를'),
 (7, '줬어')]

In [48]:
import pandas as pd 
sorted_vocab = sorted((value, key) for key, value in word2id.items())
vocab = [v[1] for v in sorted_vocab]
tfidf = computeTFIDF(DTM)
pd.DataFrame(tfidf, columns = vocab)

         오늘  동물원에서     원숭이를        봤어      코끼리를     원숭이에게      바나나를        줬어
0  0.044023   -0.0  0.11928  0.044023  0.000000  0.000000  0.000000  0.000000
1  0.035218   -0.0  0.00000  0.070437  0.095424  0.000000  0.000000  0.000000
2  0.000000   -0.0  0.00000  0.000000  0.000000  0.095424  0.190849  0.095424

In [210]:
docs

['오늘 동물원에서 원숭이를 봤어', '오늘 동물원에서 코끼리를 봤어 봤어', '동물원에서 원숭이에게 바나나를 줬어 바나나를']

In [52]:
from math import log10
import numpy as np
from collections import defaultdict

# doucument  내 토큰이 등장한 빈도수 계산
def f(t,d):             # token, D_ls[i]
    return d.count(t)


# tf 계산
def tf(t, d):
    return 0.5 + 0.5*f(t,d) / max([f(w, d) for w in d])


# idf 계산

def idf(t, D):         # D = D_ls
    num = len(D)
    den =  1 +  len([True for d in D if t in d])
    return 1 + log10(num / den)
    

# tf-idf 계산
def tfidf_score(t, d, D):
    return tf(t, d) * idf(t, D)

# 공백을 기준으로 토근화
def tokenizer(d):
    return d.split()

# tf-idf 계산
def tfidScorer(D):
    D_ls = [tokenizer(d) for d in D]
    vocab = list(set().union(*D_ls)) # union이라는 애는 parameter를 가진 애를 다 set으로 만들어보여, union의 함수
    word2id = defaultdict(lambda : len(word2id))
    [word2id[v] for v in vocab]
    
    print(word2id)
    
    tfidf = np.zeros((len(D_ls), len(vocab)))
    for i in range(len(D_ls)):
        for t in D_ls[i]:
            tfidf[i, word2id[t]] = tfidf_score(t, D_ls[i], D)
    
    return tfidf, vocab

In [53]:
tfidScorer(docs)

defaultdict(<function tfidScorer.<locals>.<lambda> at 0x000001E2A9399268>, {'코끼리를': 0, '원숭이를': 1, '줬어': 2, '바나나를': 3, '원숭이에게': 4, '동물원에서': 5, '봤어': 6, '오늘': 7})

(array([[0.        , 1.17609126, 0.        , 0.        , 0.        ,
         0.87506126, 1.        , 1.        ],
        [0.88206844, 0.        , 0.        , 0.        , 0.        ,
         0.65629595, 1.        , 0.75      ],
        [0.        , 0.        , 0.88206844, 1.17609126, 0.88206844,
         0.65629595, 0.        , 0.        ]]),
 ['코끼리를', '원숭이를', '줬어', '바나나를', '원숭이에게', '동물원에서', '봤어', '오늘'])

In [55]:
import pandas as pd
tfidf, vocab = tfidScorer(docs)
pd.DataFrame(tfidf, columns = vocab)

defaultdict(<function tfidScorer.<locals>.<lambda> at 0x000001E2A9399620>, {'코끼리를': 0, '원숭이를': 1, '줬어': 2, '바나나를': 3, '원숭이에게': 4, '동물원에서': 5, '봤어': 6, '오늘': 7})

       코끼리를      원숭이를        줬어      바나나를     원숭이에게     동물원에서   봤어    오늘
0  0.000000  1.176091  0.000000  0.000000  0.000000  0.875061  1.0  1.00
1  0.882068  0.000000  0.000000  0.000000  0.000000  0.656296  1.0  0.75
2  0.000000  0.000000  0.882068  1.176091  0.882068  0.656296  0.0  0.00